body {
    font-family: sans-serif;
    background-color: rgb(243, 243, 243);
}

.centered {
    display: flex;
    justify-content: center;
    vertical-align: text-top;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}