{% extends "orders/base.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block script %}
<script>
    document.addEventListener('click', event => {
        const element = event.target;
        element.parentElement.style.animationPlayState = 'running';
    });
</script>
{% endblock%}

{% block body %}
<div class="row centered">
    <div class="col" style="max-width: 80%;">
        {% if progress.progress == 'We have received your order' or progress.progress == 'We are cooking your pizza' or progress.progress == 'We are preparing your order' or progress.progress == 'In delivery' or progress.progress == 'Buon Appetito!' %}
        <div class="card border-dark centered" style="max-width: 100%;">
            <div class="card-header">
                <h5 class="centered" style="margin:0px;">
                    Progress of your order &nbsp
                    <img src="{% static 'orders/media/icon_order.png' %}" width="25" height="25"
                        class="d-inline-block align-top" alt="">
                </h5>
            </div>
            <div class="card-body">
                <h6 class="centered">
                    Thank you {{user.username}} for choosing Pizzas Ángel
                    <img src="{% static 'orders/media/icon_pizza.png' %}" width="20" height="20"
                        class="d-inline-block align-top" alt="">
                </h6>
                <h6 class="centered">
                    Status: &nbsp <b>  {{ progress.progress }} </b>
                </h6>
                <div class="progress">
                    {% if progress.progress == 'We have received your order'%}
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%">20%
                        </div>
                    {% endif %}
                    {% if progress.progress == 'We are cooking your pizza'%}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%">40%
                    </div>
                    {% endif %}
                    {% if progress.progress == 'We are preparing your order'%}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%">60%
                    </div>
                    {% endif %}
                    {% if progress.progress == 'In delivery'%}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%">80%
                    </div>
                    {% endif %}
                    {% if progress.progress == 'Buon Appetito!'%}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">100%
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <hr>
        {% endif %}
        <div class="card border-dark centered" style="max-width: 100%;">
            <div class="card-header">
                <h5 class="centered" style="margin:0px;">
                    Pizzas &nbsp
                    <img src="{% static 'orders/media/icon_order.png' %}" width="25" height="25"
                        class="d-inline-block align-top" alt="">
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Flavor</th>
                            <th scope="col">Crust</th>
                            <th scope="col">Size</th>
                            <th scope="col">Extras</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    {% for item_pizzas in pizzas %}
                    <tr>
                        <td>{{ item_pizzas.pizza_flavor.typeof_flavor }}</td>
                        <td>{{ item_pizzas.pizza_crust }}</td>
                        <td>{{ item_pizzas.pizza_size }}</td>
                        <td> {% if item_pizzas.pizza_extra.all %}
                            {% for item_extra in item_pizzas.pizza_extra.all %}
                                {{ item_extra }} <br>
                            {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            <div class="row centered">
                                <div class="col-md-9">
                                    {{ item_pizzas.price }} €
                                </div>
                                {% if progress.progress == '' %}
                                <div class="col-md-3">
                                    <form method="POST"> {% csrf_token %}
                                        <input name="delete" class="form-check-input" type="hidden"
                                        value="{{ item_pizzas.id }}" id="{{ item_pizzas.id }}" checked>
                                        <button type="submit" title="Delete this pizza" style="color: red;" class="close centered" aria-label="Close">
                                            <img src="{% static 'orders/media/icon_delete.png' %}" width="18" height="18"
                                            class="d-inline-block align-top" alt="">
                                        </button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td colspan="4">Total</td>
                            <td>{{total_order.price__sum|floatformat:"2" }} €</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <hr>
        {% if progress.progress == '' %}
        <form method="POST" id="myform"> {% csrf_token %}
            <div class="card border-dark centered">
                <div class="card-header">
                    <h5 class="centered" style="margin:0px;">
                        Delivery &nbsp
                        <img src="{% static 'orders/media/icon_delivery.png' %}" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                    </h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col" style="max-width: 70%;">
                            <label>Street</label>
                            <input name="street" type="text" class="form-control" placeholder="Calle Cruces">
                        </div>
                        <div class="col" style="max-width: 30%;">
                            <label>Number, floor</label>
                            <input name="number_floor" type="text" class="form-control" placeholder="9, 1-B">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col" style="max-width: 70%;">
                            <label>City, zip code</label>
                            <input name="city_zip" type="text" class="form-control" placeholder="Las Rozas, 28232">
                        </div>
                        <div class="col" style="max-width: 30%;">
                            <label>Province</label>
                            <input name="province" type="text" class="form-control" placeholder="Madrid">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card border-dark">
                <div class="card-header">
                    <h5 class="centered" style="margin:0px;">
                        Payment &nbsp
                        <img src="{% static 'orders/media/icon_payment.png' %}" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                    </h5>
                </div>
                <div class="card-body" style="text-align: center;">
                    <div class="form-check">
                        <input name="payment" class="form-check-input" type="radio" id="exampleRadios2"
                            value="Cash" checked>
                        <label class="form-check-label" for="exampleRadios2">
                            Cash
                            <img src="{% static 'orders/media/icon_cash.png' %}" width="22" height="22"
                                class="d-inline-block align-top" alt="">
                        </label>
                    </div>
                    <div class="form-check">
                        <input name="payment" class="form-check-input" type="radio" id="exampleRadios1"
                            value="Card">
                        <label class="form-check-label" for="exampleRadios1">
                            Credit or debit card
                            <img src="{% static 'orders/media/icon_card.png' %}" width="25" height="25"
                                class="d-inline-block align-top" alt="">
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card border-dark">
                <div class="card-header">
                    <h5 class="centered" style="margin:0px;">
                        Comments &nbsp
                        <img src="{% static 'orders/media/icon_comment.png' %}" width="20" height="20"
                            class="d-inline-block align-top" alt="">
                    </h5>
                </div>
                <div class="card-body" style="text-align: center;">
                    <div class="form-group">
                        <input name="comments" type="text" class="form-control" placeholder="Any additional comments?">
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    {% if progress.progress == '' %}
    <div class="col" style="max-width: 20%;">
        <div class="sidebar-item">
            <div class="make-me-sticky">
                <div class="card border-dark centered">
                    <div class="card-header">
                        <h5 class="centered" style="margin:0px;">
                            Finish &nbsp
                            <img src="{% static 'orders/media/icon_finish.png' %}" width="25" height="25"
                                class="d-inline-block align-top" alt="">
                        </h5>
                    </div>
                    <div class="card-body centered">
                        <button form="myform" type="submit" class="btn btn-success">
                            Confirm order
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}