{% extends "orders/base.html" %}
{% load static %}

{% block title %}
- Menu
{% endblock %}

{% block script %}
<script>
    document.addEventListener('click', event => {
        const element = event.target;
        element.parentElement.style.animationPlayState = 'running';
    });
</script>
{% endblock%}

{% block body %}
{% for item_flavors in flavors %}
<div class="card-deck">
    <div class="card border-dark mb-3 centered">
        <div class="card-header">
            <h4 class="centered">{{ item_flavors.typeof_flavor }}</h4>
            <h6 class="centered" style="margin:0px;">{{ item_flavors.decriptionof_flavor }}</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="max-width: 30%;">
                    <img class="card-img-top" src="{% static 'orders/media/pizzas/pizza_'%}{{ item_flavors.typeof_flavor}}.jpg" alt="" style="max-width: 100%;">
                </div>
                <div class="col" style="max-width: 70%;">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row centered">
                            <div class="form-group col-md-6">
                                <label for="Input2" class="centered">Crust</label>
                                <select name="crust" id="Input2" class="form-control">
                                    {% for item_crusts in crusts %}
                                    <option> {{ item_crusts }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Input1" class="centered">Size</label>
                                <select name="size" id="Input1" class="form-control">
                                    {% for item_sizes in sizes %}
                                    <option> {{ item_sizes }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row centered align-items-center">
                            <div class="form-group col-md-6">
                                <label for="Input3" class="centered">Extras (+0.50 € each)</label>
                                <select multiple name="extra" id="Input3" class="form-control">
                                    {% for item_extras in extras %}
                                    <option> {{ item_extras }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Input3" class="centered"></label>
                                Hold down “Control” or “Command” to select more than one extra.
                                <input name="flavor" class="form-check-input" type="hidden"
                                    value="{{ item_flavors.typeof_flavor }}" id="defaultCheck1" checked>
                            </div>
                            <div class="form-group col-md-3 centered">
                                <button type="submit" class="btn btn-secondary">
                                    Add pizza to cart
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}